<form action="/users/{{user._id}}" method="POST"></form>
<div class="card" style="width: 60%;">


    {{!-- <div class="form-group">
        <label for="avatar">Choose a profile picture:</label>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
    </div> --}}

    <div class="card-body">
        <p>Sex:</p>
        <input type="radio" id="male" name="sex" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="sex" value="female">
        <label for="female">Female</label><br>
    </div>

    <div class="card-body">
        <label for="targetweight">Target weight in kg:</label>
        <input type="number" id="targetweight" name="targetweight">
    </div>

</div>
<button type="submit" class="btn btn-outline-success">Submit</button>
</form>