<!DOCTYPE html>
<html lang="es">

<body>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeightHacker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>


  <nav class="navbar navbar-dark navbar-3 bg-default mb-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/"><img class="navicon" src="/images/favicon.png" alt="navicon" /></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent13"
      aria-controls="navbarSupportedContent13" aria-expanded="true" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="navbar-collapse collapse show" id="navbarSupportedContent13" style="">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect waves-light" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/logout">Log out</a>
        </li>
      </ul>
    </div>

  </nav>


  {{!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img class="navicon" src="/images/favicon.png" alt="navicon" /></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>

      </ul>
    </div>
  </nav> --}}




  <main class="container">
    {{!-- <div class="row"> --}}
    <div class="col-sm-12">
      {{{body}}}
    </div>
    {{!-- </div> --}}

  </main>
  {{!-- <footer class="foot">
    <div class="container">
      <span class="footer text-muted">WeightHacker 2020</span>
    </div>
  </footer> --}}
  <script src="/javascripts/script.js"></script>


</body>

</html>