<!DOCTYPE html>
<html lang="es">

<body>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeightHacker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>


  <nav class="navbar navbar-expand-lg navbar-light ">

    <a class="navbar-brand marker-letter " href="/"><img class="navicon" src="/images/favicon.png" alt="navicon" /></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>

      </ul>
    </div>
  </nav>


  <main class="container">
    {{{body}}}
  </main>
  {{!-- <footer class="foot">
    <div class="container">
      <span class="footer text-muted">WeightHacker 2020</span>
    </div>
  </footer> --}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="/javascripts/script.js"></script>


</body>

</html>