body {
  font-weight: 200;
  background-image: url(./../images/lauren-mancke-sil2Hx4iupI-unsplash.jpg);
  background-size: 100%;
  background-repeat: repeat;
  opacity: 0.6;
  font-family: Quicksand;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
}

.navicon{
  width: 110%;
} 

.logo{
  width: 50%;
  position: fixed;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}
